{% extends 'base.html.twig' %}

<<<<<<< HEAD

=======
>>>>>>> abe0793156f1fa6f6e9f80e1299f81ef63031576
{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    <div class="jumbotron">
    <h1>Hello World !</h1>
<<<<<<< HEAD
    </div>
{% endblock %}
=======
    </diV>
{% endblock %}


>>>>>>> abe0793156f1fa6f6e9f80e1299f81ef63031576
{% block javascripts %}{% endblock %}